@charset "utf-8";

body {
	background-color:ivory;
}

form table.form {
	background-color:white;
	border: 1px solid gray;
	border-collapse: collapse;
	margin:5px;
}
form table.form th,
form table.form td
{
	border: 1px solid gray;
	padding:5px;
}
form table.form th {
	background-color:lightgrey;
}
form div.submit,
form table.form td.buttons
{
	text-align:center;
}
form table.form td.buttons input {
	margin-left:1em;
	margin-right:1em;
}
form div.submit input {
	display:inline;
}
form div.datetime select {
	margin-left:0.25em;
	margin-right:0.25em;
}
a {
	color:blue;
}
div.error-message {
	margin-top:2px;
	color: red;
	padding-left:1em;
	font-size:90%;
}
/* scaffold.index */
div.index {
	position : relative;
	background-color : white;
	margin:2px;
	border:1px solid gray;
	font-size : 8pt;
}
div.index h2 {
	font-size : 12pt;
	font-weight: bold;
	background-color : mistyrose;
	border-bottom:1px solid gray;
}
div.index p {
	margin-left : 1em;
}
div.index table {
	border : 1px solid gray;
	border-collapse: collapse;
	margin-top : 1em;
	margin-left : 1em;
}
div.index table th,
div.index table td
{
	border : 1px solid gray;
	vertical-align:top;
	padding:3px;
}
div.index div.paging {
	margin-left : 1em;
}
div.index div.paging div {
	display:inline;
}
div.actions ul {
	margin-left : 1em;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}

/* scaffold.view */
div.view {
	position : relative;
	background-color : white;
	margin:2px;
	border:1px solid gray;
	font-size : 8pt;
}
div.view h2 {
	font-size : 12pt;
	font-weight: bold;
	background-color : mistyrose;
	border-bottom:1px solid gray;
}
div.view table {
	background-color:white;
	border: 1px solid gray;
	border-collapse: collapse;
	margin:5px;
}
div.view table th,
div.view table td
{
	border: 1px solid gray;
	padding:5px;
}
div.view table th {
	background-color:lightgrey;
}
